body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/wp7172318.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    padding: 0px 15px 0px 15px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 65px 10px 30px 10px;
    border-style:solid;
}

.light-mode{
    background-image: linear-gradient(rgba(255, 255, 255, 50), rgba(255, 255, 255, 0.5)),url("../img/wp7172318.png");
    color:black;
}

.light-mode li a{
    color: black;
}

.light-mode a{
    color: black;
}

.light-mode a:hover{
    color: greenyellow;
}

.light-mode a:visited{
    color: gray;
}

.light-mode .right_text_underPicture{
    background-color: wheat;
}

.light-mode .alaphalozat_text_underPicture{
    background-color: wheat;
}

.light-mode .kuloncelu_text_underPicture{
    background-color: wheat;
}

.light-mode .right_text_underPicture_MD110{
    background-color: wheat;
}

.light-mode .telefonkozpont_text_underPicture_7DPBX{
    background-color: wheat;
}

.light-mode h2{
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-bottom-left-radius: 13px;
    width: fit-content;
}

.right_text_underPicture{
    text-align: center;
    background-color: gray;
    border: 2px gray;
    border-radius: 5px;
    font-size: medium;
    font-style: italic;
    margin-top: 5px;
}

.alaphalozat_text_underPicture{
    text-align: center;
    background-color: gray;
    border: 2px gray;
    border-radius: 5px;
    font-size: medium;
    font-style: italic;
    margin-top: 5px;
}

.kuloncelu_text_underPicture{
    text-align: center;
    background-color: gray;
    border: 2px gray;
    border-radius: 5px;
    font-size: medium;
    font-style: italic;
    margin-top: 9px;
}

.telefonkozpont_text_underPicture_7DPBX{
    text-align: center;
    background-color: gray;
    border: 2px gray;
    border-radius: 5px;
    font-size: medium;
    font-style: italic;
    margin-top: 4px;
}

.right_text_underPicture_MD110{
    text-align: center;
    background-color: gray;
    border: 2px gray;
    border-radius: 5px;
    font-size: medium;
    font-style: italic;
    margin-top: 5px;
}

h1{
    text-align: center;
}

h2{
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-bottom-left-radius: 13px;
    width: fit-content;    
}

#img_mav_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

#right_tavirda_picture{
    float: right;
    width: 510px;
    height: 247px;
    margin: 10px 10px 10px 10px;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#left_gif{
    float:left;
    width: 160px;
    height: 250px;
    margin: 0px 10px 10px 0px;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#alaphalozat{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 0px 100px 0px 100px;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#alaphalozat1{
    display: inline-block;
    width: 209px;
    height: 394px;
    margin: 0px 100px 0px 100px;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#alaphalozat2{
    display: inline-block;
    width: 224px;
    height: 465px;
    margin: 0px 100px 0px 100px;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#alaphalozat3{
    display: inline-block;
    width: 206px;
    height: 465px;
    margin: 0px 50px 0px 50px;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#alaphalozat4{
    display: block;
    width: 292px;
    height: 311px;
    margin-left: auto;
    margin-right: auto;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#kuloncelu{
    display: block;
    width: 610px;
    height: 464px;
    margin-left: auto;
    margin-right: auto;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#telefonkozpont1{
    display: block;
    width: 701px;
    height: 356px;
    margin-left: auto;
    margin-right: auto;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#telefonkozpont2{
    display: block;
    width: 558px;
    height: 407px;
    margin-left: auto;
    margin-right: auto;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#right_MD110{
    float: right;
    width: 330px;
    height: 250px;
    margin: 10px 10px 10px 10px;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

#left_pcm{
    float:left;
    width: 353px;
    height: 269px;
    margin: 0px 10px 10px 0px;
    border: 5px orange;
    border-radius: 5px;
    border-style: solid;
}

iframe{
    display: block;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

li a{
    color: white;
}

p a{
    color: white;
}

p a:hover{
    color: greenyellow;
    font-style: italic;
}

p a:visited{
    color: antiquewhite;
}

ul{
    display:inline-block;
    list-style-position: inside;
    list-style-image:url("../img/lb24.png")
}

div .text{
    font-size: medium;
}

#note{
    font-style: italic;
    font-size: medium;
}